<div class="row">
<ul class="large-block-grid-5">
  <% @users.each do |user| %>
      <li class="user-card">
        <div class="light-blue">
          <img src="" alt="profile picture" class="picture"/>
        </div>
        <div class="profile">
          <%= link_to user.username, user %>
        </div>
      </li>
  <% end %>
</ul>
</div>