<div class="profile">
  <div class="row">
    <div class="large-3 columns">
      <div class="row sidebar">
        <%= @user.username %>
        <%= link_to 'Edit', edit_user_path(@user) %>
      </div>
    </div>
    <div class="large-9 columns">
      <div class="large-12 columns">
        <%= render 'posts/form' %>
      </div>
      <div class="large-12 columns">
        <ul class="large-block-grid-5">
          <% @posts.each do |post| %>
              <li class="post-card">
                <div class="light-blue">
                  <p>
                    <%= post.content %>
                  </p>
                </div>
                <div class="permalink">
                  <%= link_to 'Permalink', post %>
                </div>
              </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

