$lead-gray: #272726;
$sand-gray: #b4b4b4;
$light-blue: #afcaf2;
$dark-blue: #31458c;
li.user-menu {
  min-width: 150px;
}

body {
  background-color: $sand-gray !important;
}

.large-block-grid-5{
  .user-card {
    min-height: 125px;
    .light-blue{
      background-color: $light-blue;
      text-align: center;
      .picture {
        height: 125px;
        width: 125px;
      }
    }
    .profile {
      display: inline-block;
      background-color: $lead-gray;
      height: 25px;
      width: 100%;
      position: relative;
      padding: 1px 5px;
    }
  }
}

.profile {
  min-height: 100%;
  .row {
    max-width: 100%;
    .sidebar {
      display: inline-block;
      background-color: $dark-blue !important;
      min-height: 100%;
      width: 100%;
      top: 0;
      position: relative;
      padding-left: 25px;
      padding-right: 25px;
    }
    .large-block-grid-5 {
      .post-card {
        min-height: 125px;
        .light-blue{
          background-color: $light-blue;
          padding-bottom: 25px;
          p {
            text-align: justify;
            height: 100px;
          }
        }
        .permalink {
          display: inline-block;
          background-color: $lead-gray;
          height: 25px;
          width: 100%;
          position: relative;
          padding: 1px 5px;
        }
      }
    }
  }
}