<!DOCTYPE html>
<html>
<head>
  <title>Microblog</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="sticky">
<nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
  <ul class="title-area">
    <li class="name">
      <h1>
        <%= link_to "MICROblog", root_url %>
      </h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <% if user_signed_in? %>
      <li class="has-dropdown active user-menu">
        <a href="#">
          <strong><%= current_user.username %></strong>
        </a>
          <ul class="dropdown">
            <li>
              <%= link_to 'Edit profile', edit_user_registration_path %>
            </li>
            <li>
              <%= link_to "Logout", destroy_user_session_path, method: :delete %>
            </li>
          </ul>
      </li>
      <% else %>
      <li class="active">
        <%= link_to "Sign up", new_user_registration_path %>
      </li>
      <li class="active">
        <%= link_to "Login", new_user_session_path %>
      </li>
      <% end %>
    </ul>
  </section>
</nav>
</div>

<div class="container">
  <% if notice %>
  <div class="alert-box">
    <%= notice %>
    <a class="close" href="">×</a>
  </div>
  <% end %>
  <% if alert %>
  <div class="alert-box warning">
    <%= alert %>
    <a class="close" href="">×</a>
  </div>
  <% end %>
<%= yield %>
</div>

</body>
</html>
